/* Universal Styles */
*{
    box-sizing: border-box;
    margin: 0; /* Reset the default values*/
    padding: 0; 
}
body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-family: 'Arvo', serif;
    font-size: 48px;
}

/* header */

header{
    height: 140px;
    width: 100%;
    background-color: #fff;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

header h1{
    padding-top: 10px;
}

li{
    list-style: none;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 4vw;
}

header li {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

/* Banner */

.banner_container{
    background-image: url( '../Images/banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.missions{
    margin: auto 0;
    padding-top: 80px;
    align-items: center;
    color: #fff;
}

.missions h2 h4{
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 22px;
}

/* Portfolio Gallery */

.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.featured h2{
    margin-bottom: 0.5em;
}

.container_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trend{
    margin: 20px 15px;
}

.trend img{
    height: 350px;
    width: auto;
}

/* Our team */

#our-team{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    background-image: url('../Images/ourteam.jpg');
    width: 100%;
    height: auto;
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#our-team h2{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.team-box{
    padding-bottom: 2em;
}
.team-box img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding-inline: 20px;
}


/* Contact Section */

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 240px;
    padding: 20px 30px;
}


.contact h2{
    margin-top: 30px;
    margin-bottom: 1.4em;
    justify-content: space-between;
    font-weight: 30px;
}

.contact h5{
    margin-bottom: 0.2em;
}
/* Footer */

footer{
    text-align: center;
    margin-left: 1.2em;
}